<div class="card-grid">
  <div class="card card-one">
    <img src="images/Mockup.png" alt="" />
  </div>
  <div class="card card-two">
    <h2>TimeNow is used by the most influential people.</h2>
    <img src="images/UA1.png" alt="" />
    <img src="images/UA2.png" alt="" />
    <img src="images/UA3.png" alt="" />
    <img src="images/UA4.png" alt="" />
    <img src="images/UA5.png" alt="" />
    <img src="images/UA6.png" alt="" />
    <img src="images/UA7.png" alt="" />
    <img src="images/UA8.png" alt="" />
    <p class="main-paragraph">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente iste
      quae distinctio amet, repellat officia.
    </p>
    <p class="secondary-paragraph">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium,
      mollitia.
    </p>
  </div>
  <div class="card card-three">
    <p class="tagline">Unified Dashboard</p>
    <h2>Customizable dashboard for all platforms.</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur
      consequatur reprehenderit itaque architecto facere perspiciatis aspernatur
      porro maxime dolorem nesciunt.
    </p>
    <button class="btn btn--primary">Start Scheduling</button>
  </div>
  <div class="card card-three card-four">
    <p class="tagline">Enchanced Analytics</p>
    <h2>Real-time data that tells you everything.</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur
      consequatur reprehenderit itaque architecto facere perspiciatis aspernatur
      porro maxime dolorem nesciunt.
    </p>
    <p class="arrow-tagline">
      View Live Demo
      <i class="fas fa-long-arrow-alt-right"></i>
    </p>
  </div>
</div>
