<footer class="footer">
  <img src="images/Logo.svg" alt="" />
  <div class="footer-grid">
    <div class="footer__list products">
      <ul>
        <li><h3>Product</h3></li>
        <li>HomePage</li>
        <li>Pricing</li>
        <li>Features</li>
      </ul>
    </div>
    <div class="footer__list help">
      <ul>
        <li><h3>Help</h3></li>
        <li>Live Chat</li>
        <li>Send Email</li>
        <li>FAQ</li>
      </ul>
    </div>
    <div class="footer__list Company">
      <ul>
        <li><h3>Company</h3></li>
        <li>About</li>
        <li>Customers</li>
        <li>Blog</li>
      </ul>
    </div>
  </div>
  <h3 class="input-label">Try TweetNow</h3>
  <input
    class="input-trick"
    type="email"
    name="email"
    id="email"
    placeholder="Email Adress"
  />
  <input type="email" name="email" id="email" placeholder="Email Adress" />
  <button class="btn btn--primary">Start Scheduling</button>
</footer>
